    <div id="app">
      <div class="content">
        <div class="d-flex flex-wrap list">
          <div class="cell" data-id="{{item.key}}" *ngFor="let item of objOfCells | keyvalue"></div>
        </div>

        <div>
          <label for="delay">Задержка, мс</label>
          <input type="number" id="delay" class="form-control i-delay" value="1000" min="0" />
        </div>
        <button type="button" class="btn-start">Начать</button>

        <app-score></app-score>
      </div>
    </div>