.list {
  max-width: 500px;
  margin: 15px 0;
}

/* =CELLS */
.cell {
  background-color: #498fbd;
  border-bottom: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  transition: background-color 0.3s;
  height: var(--s);
  width: var(--s);

  &:nth-child(10n + 1) {
    border-left: 1px solid var(--borderColor);
  }

  &:nth-child(-n + 10) {
    border-top: 1px solid var(--borderColor);
  }

  &-active {
    background-color: var(--activeColor);
    cursor: pointer;
  }

  &-success {
    background-color: var(--successColor);
  }

  &-error {
    background-color: var(--errorColor);
  }
}

/* =/CELLS */

/* = BUTTON */
.btn-start {
  background-color: #009a00;
  color: #fff;
  border-radius: 3px;

  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;

  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 3px #000;
  }
}
/* =/BUTTON */

/*=CONTROLS
---------------------------*/
.error {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.form-control {
  height: 28px;
  font-size: 16px;
}
/*=/CONTROLS
---------------------------*/
