/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  --s: 50px;
  --borderColor: #bfbfbf;
  --activeColor: #f3f331;
  --successColor: green;
  --errorColor: red;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
